Flask==2.3.3
cohere==5.17.0
langchain-core>=0.3.70
langchain-community>=0.3.5
langchain-text-splitters>=0.3.2
langchain-huggingface>=0.3.1
langchain-chroma>=0.1.4
sentence-transformers==2.7.0
pypdf==4.2.0
chromadb==0.4.24
gunicorn==21.2.0
